
.taskInput {
    box-shadow: 0 0 2px 1px red;
    border: none;
}

.inputError {
    color: red;
}

.activeFilter {
    background-color: rgba(0, 51, 255, 0.64);
    border: none;
    box-shadow: 0 0 5px 1px black;
}

.editableSpan {
    display: inline-block;
}

.isDone {
    position: relative;
    display: inline-block;
    color: #000;
    text-decoration: none;
}

.isDone:before {
    content: "";
    border-bottom: 2px solid rgba(0, 51, 255, 0.64);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    z-index: -1;
}